{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    {% for hom in object_list %}
        <section id="home" class="s-home target-section" data-parallax="scroll"
                 data-image-src="{{ hom.banner_image.url }}"
                 data-natural-width=3000 data-natural-height=2000 data-position-y=center>

            <div class="overlay"></div>
            <div class="shadow-overlay"></div>

            <div class="home-content">

                <div class="row home-content__main">

                    <h3>{{ hom.title }}</h3>

                    <h1>
                        {{ hom.full_name }}
                    </h1>

                    <div class="home-content__buttons">
                        <a href="#contact" class="smoothscroll btn btn--stroke">
                            {{ hom.contact }}
                        </a>
                        <a href="#about" class="smoothscroll btn btn--stroke">
                            {{ hom.about }}
                        </a>
                    </div>

                </div>

                <div class="home-content__scroll">
                    <a href="#about" class="scroll-link smoothscroll">
                        <span>{% trans 'Scroll Down' %}</span>
                    </a>
                </div>

                <div class="home-content__line"></div>

            </div> <!-- end home-content -->


            <ul class="home-social">
                <li>
                    <a href="https://instagram.com/muhammadjonovich_01"><i class="fa fa-instagram"
                                                                           aria-hidden="true"></i><span>Instagram</span></a>
                </li>
            </ul>
            <!-- end home-social -->

        </section> <!-- end s-home -->
    {% endfor %}

    <!-- about
    ================================================== -->
    {% for about in abouts %}
        <section id='about' class="s-about">

            <div class="row section-header has-bottom-sep" data-aos="fade-up">
                <div class="col-full">
                    <h1 class="display-1 display-1--light">{{ about.title }}</h1>
                </div>
            </div> <!-- end section-header -->

            <div class="row about-desc" data-aos="fade-up">
                <div class="col-full">
                    <p>
                        {{ about.description|safe }}
                    </p>
                </div>
            </div> <!-- end about-desc -->


            <div class="about__line"></div>

        </section> <!-- end s-about -->
    {% endfor %}
    <!-- works
    ================================================== -->



    <!-- clients
    ================================================== -->
    <section id="clients" class="s-clients">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h1 class="subhead">{% trans 'My Portfolio' %}</h1>
            </div>
        </div> <!-- end section-header -->
        {% for work in works %}
            <div class="card mb-3">
                <img src="{{ work.work_image.url }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h2 class="card-title text-center">{{ work.title }}</h2>
                    <h3 class="card-text text-center">{{ work.body }}</h3>
                </div>
            </div>
        {% endfor %}

    </section> <!-- end s-clients -->


    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">{% trans 'Contact us' %}</h3>
                <h1 class="display-2 display-2--light">{% trans 'Reach out for a new project or just say hello' %}</h1>
            </div>
        </div>

        <div class="row contact-content" data-aos="fade-up">

            <div class="contact-primary">

                <h3 class="h6">{% trans 'Send me a message' %}</h3>

                <form name="contactForm" id="contactForm" method="post" action="" novalidate="novalidate">
                    <fieldset>

                        <div class="form-field">
                            <input name="contactName" type="text" id="contactName" placeholder="Your Name" value=""
                                   minlength="2" required="" aria-required="true" class="full-width">
                        </div>
                        <div class="form-field">
                            <input name="contactEmail" type="email" id="contactEmail" placeholder="Your Email" value=""
                                   required="" aria-required="true" class="full-width">
                        </div>
                        <div class="form-field">
                            <input name="contactSubject" type="text" id="contactSubject" placeholder="Subject" value=""
                                   class="full-width">
                        </div>
                        <div class="form-field">
                        <textarea name="contactMessage" id="contactMessage" placeholder="Your Message" rows="10"
                                  cols="50" required="" aria-required="true" class="full-width"></textarea>
                        </div>
                        <div class="form-field">
                            <button class="full-width btn--primary">{% trans 'Submit' %}</button>
                            <div class="submit-loader">
                                <div class="text-loader">{% trans 'Sending' %}</div>
                                <div class="s-loader">
                                    <div class="bounce1"></div>
                                    <div class="bounce2"></div>
                                    <div class="bounce3"></div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>

                <!-- contact-warning -->
                <div class="message-warning">
                    Something went wrong. Please try again.
                </div>

                <!-- contact-success -->
                <div class="message-success">
                    Your message was sent, thank you!<br>
                </div>

            </div> <!-- end contact-primary -->

            <div class="contact-secondary">
                <div class="contact-info">

                    <h3 class="h6 hide-on-fullwidth">{% trans 'Contact Info' %}</h3>

                    <div class="cinfo">
                        <h5>{% trans 'Where to Find Us' %}</h5>
                        <p>
                            {% trans 'Tashkent city' %},<br>
                            {% trans 'Almazor district' %},<br>
                            {% trans 'Sagbon street' %}
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>{% trans 'Email Us At' %}</h5>
                        <p>
                            <a href="https://google.com">parpiyevbehruz35@gmail.com</a>
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>{% trans 'Call Us At' %}</h5>
                        <p>
                            {% trans 'Phone: +998900290180' %}
                        </p>
                    </div>

                    <ul class="contact-social">
                        <li>
                            <a href="https://instagram.com/muhammadjonovich_01"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                    </ul> <!-- end contact-social -->

                </div> <!-- end contact-info -->
            </div> <!-- end contact-secondary -->

        </div> <!-- end contact-content -->

    </section> <!-- end s-contact -->
{% endblock %}